:root {
    --main-bg-color: rgb(255, 255, 255);
    --title-color: rgba(0, 0, 0, 1);
    --main-text-color: rgba(0, 0, 0, 0.8);
    --secondary-text-color: rgba(100, 125, 125, 0.9);
    --link-color: rgba(90, 120, 120, 0.95);
    --divider-color: rgba(100, 125, 125, 0.25);
    --card-color: rgba(100, 125, 125, 0.1);
    --translucent-color: rgba(255, 255, 255, 0.1);
    --hover-color: rgba(255, 255, 255, 0.4);
    --transparent-color: rgba(255, 255, 255, 0);
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    height: 100%;
}

.divider {
    margin: 2vh 0vh 4vh 0vh;
    border: 0;
    width: 100%;
    border-top: 2px solid var(--divider-color);
}

p, a, li, h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif;
}

p, a, li {
    font-weight: 400;
    line-height: 150%;
    font-size: 1.1em;
    color: var(--main-text-color);
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
}

a {
    color: var(--link-color);
}

ul, li {
    list-style-type: circle;
    font-size: 1em;
}

.title {
    margin: 4vh 0vh 4vh 0vh;
}

.card-title, .title>* {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2.5em;
    margin: 0vh;
    line-height: 100%;
    color: var(--title-color);
}

.title.big-title>* {
    font-size: 3em;
}

@media only screen and (min-width: 768px) {
    .title>* {
        font-size: 4em;
    }
    .title.big-title>* {
        font-size: 5em;
    }
}

.subtitle {
    margin: 0vh 0vh 3vh 0vh;
}

.card-subtitle, .subtitle>* {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0vh;
    line-height: 100%;
    color: var(--secondary-text-color);
}

.container-end>.subtitle>* {
    text-align: right;
}

@media only screen and (min-width: 768px) {
    .subtitle>*  {
        font-size: 2em;
    }
}

.container-top {
    display: flex;
    flex-direction: column;
    flex-wrap: false;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 4vh 10vw;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.container-start {
    justify-content: flex-start;
}

.container-center {
    justify-content: center;
}

.container-end {
    justify-content: flex-end;
}

/* paragraph container */

@media only screen and (min-width: 768px) {
    .container-paragraph>.container-item {
        max-width: 60%;
    }
}

/* card container */

.card {
    display: flex;
    flex-direction: column;
    padding: 2vh 2.5vw;
    margin: 4vh 0vw;
    justify-content: start;
    text-align: start;

    border-radius: 2vw;
    background-color: var(--card-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.card-title {
    font-size: 2em;
}

.card-subtitle {
    line-height: 120%
}

.card-date {
    font-weight: 400;
}

.card-text, .card-text>* {
    font-size: 1em;
}

.card-subtitle-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1vh 0vh;
    
}

.card>.divider {
    margin: 0vh;
}

.container-cards {
    flex-direction: column;
    align-items: center;
}


@media only screen and (min-width: 768px) {
    .card {
        max-width: 60%;
    }
}

.card-image {
    width: inherit;
    height: auto;
}

/* links container */

.container-links>.container-item {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 2vh 0vw;
    width: 100%;
}

.profile-image {
    border-radius: 50%;
    height: 30vh;
    width: 30vh;
    border: 5px solid var(--divider-color);
    transform: rotate(5deg);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: var(--translucent-color);
    margin: 4vh;
}

.link-item-container {
    border-radius: 2vw;
    background-color: var(--card-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 2vh 0vw;
}

.link-item-container>.divider {
    margin: 0vh;
}

.link-item {
    padding: 2vh 4vw;
    display: block;
    text-decoration: none;
    transition: 0.3s;
    color: var(--main-text-color);
    white-space: nowrap;
}

.link-item:hover {
    background-color: var(--hover-color);
    text-decoration: underline;
}

/* Scroll Buttons */

.scroll-buttons-container {
    position: fixed;
    bottom: 3vh;
    right: 3vh; 
    border-radius: 1vh;
    background-color: var(--divider-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1vh;
    text-align: center;
    z-index: 1000;
}

.scroll-button {
    border: none;
    outline:none;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
    font-size: 2em;
    opacity: 1;
    line-height: 100%;
    padding: 1vh;
    transition: 0.3s;
}

.scroll-button:hover {
    color: var(--hover-color);
}

.scroll-button:active {
    color: white;
}

/* particles */

.particles {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

/* carousel */

.carousel {
    width: inherit!important;
    background-color: var(--transparent-color)!important;
}

.slide {
    background-color: var(--transparent-color)!important;
}

.dot {
    box-shadow: none!important;
    background-color: var(--card-color)!important;
    width: 2vw!important;
    height: 2vw!important;
}

.dot.selected {
    box-shadow: none!important;
    background-color: var(--divider-color)!important;
}

.control-arrow {
    padding: 4vw !important;
}