
/* @styled-jsx=global */

body {
    background-color: rgb(211, 255, 248);
}

.container {
    margin: 50px;
}

.particles {
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}